{% extends 'foundation/base.html' %}
{% load staticfiles %}
{% load sitetree %}
{% load foundation_tags %}

{# Have to fix the static files references for foundation #}
{% block foundation_css %}
<link rel="stylesheet" href="{% static 'foundation/css/normalize.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'foundation/css/foundation.min.css' %}" type="text/css">
{% endblock foundation_css %}

{% block foundation_modernizer %}
<script type="text/javascript" src="{% static 'foundation/js/vendor/modernizr.js' %}"></script>
{% endblock foundation_modernizer %}

{% block foundation_jquery %}
<script type="text/javascript" src="{% static 'foundation/js/vendor/jquery.js' %}"></script>
{% endblock foundation_jquery %}

{% block foundation_js %}
<script type="text/javascript" src="{% static 'foundation/js/foundation.min.js' %}"></script>
<script type="text/javascript" src="{% static 'foundation/js/foundation/foundation.topbar.js' %}"></script>
{% endblock foundation_js %}

{% block body_js %}
{% include 'autocomplete_light/static.html' %}
{% block js %}{% endblock js %}
{% endblock body_js %}

{% block title %}
{{ site.name }}
{% endblock title %}

{% block base_body %}
{% sitetree_menu from 'accounts' include 'trunk' %}
{% block content %}
{% include 'message_snippet.html' %}

{% endblock content %}
<footer>
This website is released under the terms of the GNU Affero General Public License.
The full source is available at: <a href="https://github.com/Vypo/builderdb">https://github.com/Vypo/builderdb</a>.
</footer>
{% endblock base_body %}
