{% extends 'foundation/base.html' %}
{% load staticfiles %}
{% load sitetree %}
{% load foundation_tags %}
{% load flatpages %}

{% block foundation_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
{% endblock foundation_css %}

{% block foundation_js %}
{{ block.super }}
<script type="text/javascript" src="{% static 'foundation/js/foundation/foundation.topbar.js' %}"></script>
{% endblock foundation_js %}

{% block body_js %}
{% include 'autocomplete_light/static.html' %}
{% block js %}{% endblock js %}
{% endblock body_js %}

{% block title %}
{{ site.name }}
{% endblock title %}

{% block body_attr %}itemscope itemtype="http://schema.org/WebPage"{% endblock body_attr %}

{% block base_body %}
{% sitetree_menu from 'accounts' include 'trunk' %}
{% block content %}
{% include 'message_snippet.html' %}

{% endblock content %}
<footer>
{% get_flatpages as flatpages %}
<div class="footer-nav">
    <ul>
    {% for page in flatpages %}
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
    {% endfor %}
    </ul>
</div>
This website is released under the terms of the <a href="http://www.gnu.org/licenses/agpl-3.0-standalone.html">GNU Affero General Public License</a>.
The full source is available at: <a href="https://github.com/Vypo/builderdb">https://github.com/Vypo/builderdb</a>.
</footer>
{% endblock base_body %}
