footer {
    text-align:center;
    font-size:small;
    color:grey;
}

/*
 * Forms
 */
.hint {
    font-size: 0.75rem;
    font-weight: normal;
    font-style: italic;
    padding: 0.375rem 0.5625rem 0.5625rem;
    margin-bottom: 1rem;
}

textarea + .hint,
input + .hint {
    margin-top: -1rem;
}

/*
 * Allauth
 */
.emailTable input[name="email"] {
    /* Remove the space foundation inserts under radio buttons */
    margin:0;
}
