{% load builders %}

<table class="review-ratings">
    <tbody>
        <tr itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
            <th itemprop="name">Overall</th>
            <td>{{ review.overall|stars }}</td>
        </tr>
        <tr itemscope itemtype="http://schema.org/Rating">
            <th itemprop="name">Construction</th>
            <td>{{ review.construction|stars }}</td>
        </tr>
        <tr itemscope itemtype="http://schema.org/Rating">
            <th itemprop="name">Communication</th>
            <td>{{ review.communication|stars }}</td>
        </tr>
        <tr itemscope itemtype="http://schema.org/Rating">
            <th itemprop="name">Timeliness</th>
            <td>{{ review.timeliness|stars }}</td>
        </tr>
    </tbody>
</table>
