{% extends "builders/base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% load avatar_tags %}
{% load builders %}
{% load humanize %}

{% block builder_name %}
{{ block.super}} &mdash; <a href="{{review.get_absolute_url}}">{{ review.costume_name }}</a>
{% endblock builder_name %}

{% block builders_content %}
{{ block.super }}
<div class="row">
    <div class="columns small-12 medium-8">
        <div class="panel">
            <article>
                <header>
                    <h3 class="review-costume-name">
                        {{ review.costume_name }}{% if review.user == request.user %} <span class="sub"><a href="{% url 'review.edit' review.builder.slug review.slug %}">edit</a></span>{% endif %}
                    </h3>
                    <div class="review-costume-info">
                        by
                        <span class="author">
                            <a href="{{ review.user.get_absolute_url }}" class="user-link" rel="author">
                            {{ review.user.username }}
                            </a>
                        </span>
                        <span class="date">
                            <time datetime="{{ review.created|date:'Y-m-d' }}T{{ review.created|date:'H:i:sO' }}">{{ review.created|naturaltime }}</time>
                            {% if review.edited != review.created %}
                            <span class="edited">
                            (edited
                            <time datetime="{{ review.edited|date:'Y-m-d' }}T{{ review.edited|date:'H:i:sO' }}">{{ review.edited|naturaltime }}</time>)
                            </span>
                            {% endif %}
                        </span>
                    </div>
                </header>
                <hr>
                <div class="markdown">
                    {{ review.text.rendered|safe }}
                </div>
            </article>
        </div>
    </div>
    <div class="columns small-12 medium-4">
        <div class="panel">
            <h5>Rating</h5>
            <hr>
            {% with rating=review %}
            {% include 'builders/rating_snippet.html' %}
            {% endwith %}
        </div>
        <div class="panel">
            <h5>Photos</h5>
            <hr>
            <div class="review-gallery">
                <ul class="small-block-grid-3 medium-block-grid-2">
                    {% for photo in review.photos.all %}
                    <li>
                        <a href="{% url 'photo.detail' builder.slug review.slug photo.pk %}">
                            <img src="{{ photo.image.thumb.url }}" alt="{{ photo.caption }}">
                        </a>
                    </li>
                    {% empty %}
                    <li>No photos</li>
                    {% endfor %}
                </ul>
                {% if request.user == review.user %}
                    <a href="{% url 'photo.create' builder.slug review.slug %}">
                        <div class="panel callout">Add Photo</div>
                    </a>
                {% endif %}
            </div><!-- /.review-gallery -->
        </div>
    </div>
</div>

{% endblock builders_content %}
