{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block accounts_content %}
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="button-holder">
            <button type="submit" name="action">{% trans "Change Password" %}</button>
        </div>
    </form>
{% endblock %}
